(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"alef-ar",
"alef-ar.fina",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefMadda-ar",
"alefMadda-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"beh-ar",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"teh-ar",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"theh-ar",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sheen-ar",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"dad-ar",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"feh-ar",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.medi.alt",
"heh-ar.init",
"tehMarbuta-ar",
"tehMarbuta-ar.fina",
"waw-ar",
"waw-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.medi",
"yeh-ar.init",
"lam_alef-ar",
"lam_alef-ar.fina",
space,
dotaccentcomb,
_dot,
_c.largebowl,
_hamza,
_madda,
_c.2dots,
_c.3dots,
_c.arch,
_c.bowlL,
_c.bowlR,
_c.dot,
_c.stemL,
_c.stemLA,
_c.stemLD,
_c.stemR,
_c.stemRA
)